body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-family: "Georgia", serif;

  line-height: 1.5;
  color: #f5f5dc;
  color: #dcdcdc;
  color: #fafad2;
  margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #fafad2;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  height: calc(60px + (constant(safe-area-inset-top)) * 0.8) !important;
  height: calc(60px + (env(safe-area-inset-top)) * 0.8) !important;
  z-index: 99;
  transition: all 0.3s ease;
  background-color: #f5f5dc;
  background-color: #333333;
  background-color: #4f4f4f;
  border-bottom: solid 1px rgba(0, 0, 0, 0.03);
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.08);
  padding: 6px 16px;
  font-size: 2rem;

  font-family: "Luckiest Guy", cursive;
  font-size: 24pt;
  color: #ffffff;
  background: linear-gradient(to top, #800000, #402129);
  border-bottom: 1px solid gold;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.content {
  margin-top: 80px;
  /*
    margin-top: calc(80px +(constant(safe-area-inset-top))* .8) !important; 
    margin-top: calc(80px +(env(safe-area-inset-top))* .8) !important;
   */
}

.background {
  background: linear-gradient(180deg, #c62f50, #6f1025);
  background: linear-gradient(
    45deg,
    #8b0000 23%,
    #a52a2a 23%,
    #a52a2a 48%,
    #8b0000 48%,
    #8b0000 73%,
    #a52a2a 73%,
    #a52a2a 100%
  );

  z-index: -1;
  position: fixed;
  top: -550px;
  bottom: -550px;
  transform: translate3d(0, 0, 0);
  left: -50px;
  right: -50px;
}

.subHeading {
  font-family: initial;
  font-size: 0.8em;
}

.logoLink {
  text-decoration: none;
}

.logo {
  margin-right: 10px;
}

::selection {
  background: #333333;
  color: #f5f5dc;
}
