- request:
    url: https://api.github.com/graphql
    method: POST
    headers:
      authorization: masked
      content-type: application/json; charset=utf-8
    body: '{"query":"\n{\n  user(login: \"octocat\") {\n    gists(first: 100)
      {\n      nodes
      {\n        id\n        name\n        description\n        stargazerCount\n        url\n        createdAt\n        updatedAt\n        files
      {\n          name\n          text(truncate: 1000)\n          language
      {\n            name\n          }\n        }\n      }\n    }\n  }\n}\n"}'
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json; charset=utf-8
      github-authentication-token-expiration: 2024-08-24 18:24:08 UTC
      x-accepted-oauth-scopes: repo
      x-github-media-type: github.v3; format=json
      x-ratelimit-limit: "5000"
      x-ratelimit-remaining: "4985"
      x-ratelimit-reset: "1718472202"
      x-ratelimit-resource: graphql
      x-ratelimit-used: "15"
    body: '{"data":{"user":{"gists":{"nodes":[{"id":"MDQ6R2lzdDExNjIwMzI=","name":"1162032","description":null,"stargazerCount":3,"url":"https://gist.github.com/1162032","createdAt":"2011-08-22T09:46:16Z","updatedAt":"2023-12-09T15:20:26Z","files":[{"name":"test.cs","text":"Module Module1\n\n    Sub Main()\n        \"There it is\"\n    End Sub\n\nEnd Module\n","language":{"name":"C#"}}]},{"id":"MDQ6R2lzdDExNjk4NTI=","name":"1169852","description":null,"stargazerCount":3,"url":"https://gist.github.com/1169852","createdAt":"2011-08-25T02:43:53Z","updatedAt":"2023-11-21T02:37:49Z","files":[{"name":"test.cs","text":"require(\"./rx\");\nvar child_process = require(\"child_process\");\nfor (var k in child_process) {\n    exports[k] = child_process[k];\n}\nexports.exec = function (command, options) {\n    var subject = new Rx.AsyncSubject();\n    var handler = function[...]
